.home {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.home h1 {
    font-family: 'Karla';
    font-weight: 400;
    font-size: 36px;
    color: #572B6D;
    text-shadow: 0 2.5px 2px gray;
}

.home .topbuttons button {
    margin: 10px;
    width: 300px;
    height: 200px;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    font-family: 'Karla';
    font-weight: 400;
    text-align: center;
    display: inline-block;
    font-size: 36px;
    box-shadow: 0 3px 4px gray;
}

.home .topbuttons .additembutton {
    background-color: #706e8e;
    border: 3px solid #4C4A75;
}

.home .topbuttons .additembutton:hover {
    background-color: #4C4A75;
    cursor: pointer;
}

.home .topbuttons .checkoutbutton {
    background-color: #8e7896;
    border: 3px solid #77557E;
}

.home .topbuttons .checkoutbutton:hover {
    background-color: #77557E;
    cursor: pointer;
}

.home .bottombutton button {
    margin: 10px;
    width: 620px;
    height: 80px;
    border-radius: 18px;
    color: white;
    background-color: #7fa3a5;
    border: 3px solid #538D90;
    padding: 15px 32px;
    font-family: 'Karla';
    font-weight: 400;
    text-align: center;
    display: inline-block;
    font-size: 36px;
    box-shadow: 0 3px 4px gray;
}

.home .bottombutton button:hover { 
    background-color: #538D90;
    cursor: pointer;
}