.pageinfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 20px;
}

.pageinfo .leftside {
    padding-right: 80px;
    align-self: self-start;
    width: 250px;
}

.pageinfo .item {
    text-align: start;
    width: 250px;
    height: 144px;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 18px;
    color: darkgreen;
}


.pageinfo .leftside .underserial {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}